<div class="menuContainer">
    <div class="menuItem">
        <i class="fa fa-house"></i>
        <span>主頁</span>
    </div>
    <div class="menuItem">
        <i class="fa fa-gift"></i>
        <span>獎賞</span>
    </div>
    <div class="menuItem">
        <i class="fa fa-user"></i>
        <span>帳戶</span>
    </div>
</div>


<style>
.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    width: 90%;
    height: 50px;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: white;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
    
}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.menuItem i {
    font-size: 16px;
    color: #6C4618
}

.menuItem span {
    font-size: 8px;
    color: #6C4618
}
</style>