<div class="greetingWrapper">
    <span>Anyone</span>
    <i class="fa fa-gear"></i>
</div>


<style>
.greetingWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 24px;
    padding-right: 24px;
    height: 60px;
}

.greetingWrapper span {
    font-size: 18px;
    font-weight: bold;
    color: white
}

.greetingWrapper i {
    font-size: 18px;
    color: white
}


</style>